/* .layout {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 4fr auto auto auto auto auto auto;
  grid-template-areas: "header"
                        "imgCard1"
                        "txtCard1"
                        "imgCard2"
                        "txtCard2"
                        "txtImgCard1"
                        "txtImgCard2"
                        "testimonials"
                        "imgGallery"
                        "footer";
} */



@media only screen and (min-width: 768px) {
  .layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto auto auto auto;
    grid-template-areas: "header header"
                          "txtCard1 imgCard1"
                          "imgCard2 txtCard2"
                          "txtImgCard1 txtImgCard2"
                          "testimonials testimonials"
                          "imgGallery imgGallery"
                          "footer footer"
                          ;
  }

  header {
    grid-area: header;
  }
  
  #txtCard1 {
    grid-area: txtCard1;
  }
  
  #imgCard1 {
    grid-area: imgCard1;
  }
  
  #imgCard2 {
    grid-area: imgCard2;
  }
  
  #txtImgCard1 {
    grid-area: txtImgCard1;
  }
  
  #txtImgCard2 {
    grid-area: txtImgCard2;
  }
  
  #txtCard2 {
    grid-area: txtCard2;
  }
  
  .testimonials {
    grid-area: testimonials;
  }
  
  .imgGallery {
    grid-area: imgGallery;
  }
  
  footer {
    grid-area: footer;
  }

}