:root {
  --clr-white: hsl(0, 0%, 100%);
  --clr-v-dark-desat-blue: hsl(212, 27%, 19%);
  --clr-v-dark-grey-blue:  hsl(213, 9%, 39%);
  --clr-soft-red: hsl(7, 99%, 70%);
  --clr-yellow: hsl(51, 100%, 49%);
  --gap-1: 1rem;
  --gap-2: 2rem;
  
}

* {
  box-sizing: border-box;
}

/* CSS RESET */

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: aqua;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* UTILITY CLASSES */

/* Accessibility */
.sr-only {
  position: absolute; 
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px; 
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/* Fonts */
.barlow-semibold {
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.fraunces-bold {
  font-family: "Fraunces", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.fraunces-black {
  font-family: "Fraunces", sans-serif;
  font-weight: 900;
  font-style: normal;
}

/* Layout */
.flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.text-center {
  text-align: center;
}




/* a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
